.Toastify {
  .Toastify__toast-container {
    width: 460px;
  }

  .Toastify__toast {
    background: #292929;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
  }
}
